
# Ignore the statically generated site.
_site

#Ignore vim junk
*.swp
*.swo
*~
tags

# Ignore jekyll stuff
.jekyll-metadata*
Gemfile.lock

#aspell junk
*.bak


# don't check in algolia password
_algolia_api_key

# Ignore node stuff
node_modules/
package-lock.json
yarn.lock
